@charset "utf-8";

body{
    color:red;
    background-color: orange;
    background-image: url(htmlcss-s01e01/images/orange-bg.jpg);
}
div{
    text-align: center;
    background-color: white;
    width: 500px;
    padding: 50px;
    margin:  50px auto;
    border-top: 50px solid orange;
    border-bottom: 50px solid orange;
    border-radius: 50px;   
}
h1 {
    color: orange;
    border-bottom: 5px solid orange;
    width: 105px;
    margin: 30px auto;

}
ul{
   background-color: antiquewhite;
   width: 100px;
   margin: 30px auto; 
   padding-top: 30px;
   padding-bottom: 30px;
}